/* blog post */

* {
	box-sizing: border-box;
}

body {
	background: #ececec;
}

a {
	text-decoration: none;
}

#name {
    color: #000;
	font-family: 'Dancing Script', cursive;
	font-size: 3em;
	padding: 10px;
	margin: 10px;
}

#title {
    color: #000;
    font-family: 'Raleway',sans-serif;
    font-size: 0.8em;
}

.brand {
    padding: 0 10px 10px 10px;
    background: linear-gradient(135deg, #08e853, #4019e4)
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.5em;
}

.footer_links {
	color: #f21da5;
	font-size: 0.5em;
	line-height: 1.35;
	text-align: center;
}

.post {
    font-family: 'Crimson Text', serif;
    padding: 0 10px;
    line-height: 2;
    width: 60%;
    margin: 0 auto;
}

.post_title {
    font-family: 'Crimson Text', serif;
    line-height: 1.5;
    display: block;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.post_meta {
    font-family: 'Crimson Text', serif;
    line-height: 1.5;
    display: block;
    font-size: 0.7em;
    text-align: center;
}

pre {
    border: 5px solid #0077cc;
    word-break: break-all;
}

pre code {
    white-space: pre-wrap;
}

code {
    background: #282c34;
    color: #e2e2e2;
    letter-spacing: 0.2em;
	font-weight: bold;
    padding: 0 5px;
}

a {
    color: #00BCD4;
}

img {
    max-width: 100%;
}

p a:hover {
    text-decoration: underline;
}

@media (max-width: 450px) {
    .brand {
        text-align: center;
    }
    .post_title {
        font-size: 2em;
    }
    .post {
        width: 90%;
    }
}