* {
	box-sizing: border-box;
}

body {
	background: #ececec;
}

a {
	text-decoration: none;
}

.links {
	font-size: 3em;
	color: #ff5252;
}

.footer_links {
	color: #f21da5;
	font-size: 0.5em;
	line-height: 1.35;
	text-align: center;
}

.box_links {
	display: grid;
	grid-template-columns: repeat(5, 40px);
	grid-gap: 40px;
	justify-content: center;
}

header,
main {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 1px solid #a29f9f
}

footer {
	padding: 10px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.5em;
}

header {
	margin-top: 40px;
}

#profile {
	border-radius: 50%;
	height: 80px;
	width: 80px;
}

li {
	display: flex;
	margin: 20px 0;
}

li:last-child {
	margin-bottom: 80px;
}

.icon {
	border-radius: 50%;
	height: 75px;
	width: 75px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.detail {
	padding-left: 50px;
	width: 450px;
	text-align: left;
}

#name {
	font-family: 'Dancing Script', cursive;
	font-size: 3em;
	padding: 10px;
	margin: 10px;
	color: #9C27B0;
}

#description {
	font-family: 'Shadows Into Light', cursive;
	font-size: 1.5em;
}

#twitter {
	background-color: #1DA1F2;
}

#books {
	background-color: #f79f26;
}

#tictactoe {
	background-color: #14bdac;
}

#hackernews {
	background-color: #ff6600;
}

#twitter,
#books,
#tictactoe,
#hackernews {
	color: #fff;
	letter-spacing: 0.3em;
	padding: 0 5px;
}

#twitch {
	color: #4b367c;
	letter-spacing: 0.2em;
	font-style: italic;
	font-weight: bold;
}

#react {
	color: #1fa5d2;
	letter-spacing: 0.2em;
	font-style: italic;
	font-weight: bold;
}

.project {
	margin: 0 auto;
	padding: 0;
	width: 80%;
	color: #ffdc71;
}

.project li {
	background: #7e57c2;
	border: 2px solid #002937;
	box-shadow: 5px 5px 0 0 #42A5F5	, 5px 5px 0 2px #002937;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
}

.project li:hover {
	cursor: pointer;
}

.project-meta-container {
	display: grid;
	grid-template-columns: 50% 50%;
	justify-content: center;
}

.project-logo {
	width: 100px;
	height: 100px;
}

.project-intro {
	margin: 20px;
	max-width: 200px;
	width: 100%;
}

.project-title {
	border-bottom: 2px solid transparent;
	border-image: linear-gradient(90deg, #FFEE58, #FF7043, #7e57c2);
	border-image-slice: 1
}

.project-icon div {
	padding: 10px;
}

.modal {
	padding-top: 50px;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	overflow: auto;
	width: 100%;
	height: 100%;
	background: #009688;
	z-index: 1;
	cursor: pointer;
}

#close {
	position: fixed;
	top: 50px;
	left: 50px;
}

.closex:hover {
	stroke: #AD310B;
	transition: all 1s ease;
}

button {
	padding: 10px;
	font-size: 1.5em;
	font-weight: bolder;
	border: 2px solid #cc66ff;
	border-radius: 4px;
	background: #212121;
	color: #cc66ff;
	font-family: 'Dancing Script', cursive;
	max-width: 200px;
	width: 100%;
}

.project-images {
	display: flex;
	justify-content: center;
	align-items: center;
}

.project-images  img {
	width: 200px;
	height: 200px;
  margin: 30px;
}

.project-detail {
	display: grid;
	grid-template-columns: 60% 40%;
	grid-gap: 10px;
	padding: 20px;
	text-align: left;
	line-height: 1.35;
	font-size: 1.35em;
	font-family: Fira Code, sans-serif;
}

.project-detail  div {
	margin: 20px;
}

.project-detail p {
	color: #fff;
}

.project-detail-title {
	font-size: 3em;
	line-height: 0.8em;
	font-family: 'Shadows Into Light', cursive;
}

.emoji {
	transform: scaleX(-1);
	filter: FlipH;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 2em;
	padding: 20px;
}

.emoji img {
	width: 70px;
	height: 70px;
}

.emoji i {
	background: -webkit-linear-gradient(180deg, #fc1da7, #fba506);
	background: linear-gradient(top, #fc1da7, #fba506);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

img {
  opacity: 1;
  transition: opacity 0.3s;
}

img[data-src]  {
  opacity: 0;
}

#resumeIframe {
	margin: 30px 0;
}

@media (max-width: 450px) {
	.project-detail  div {
		margin: 10px;
	}

	#close {
		position: fixed;
		top: 10px;
		left: 10px;
	}

	.project-images  {
		flex-direction: column;
	}

	.emoji {
		font-size: 1em;
	}

	.project-detail {
		font-size: 1em;
	}

	.emoji img {
		width: 40px;
		height: 40px;
	}

	.project-intro {
		margin: 5px;
		max-width: 150px;
		width: 100%;
	}

	.project-logo {
		margin: 5px;
		width: 50px;
		height: 50px;
	}

	.icon {
		border-radius: 50%;
		height: 50px;
		width: 50px;
	}
	.detail {
		padding-left: 20px;
		width: 300px;
	}
	#description {
		font-size: 1em;
	}
	.links {
		font-size: 2em;
	}
	.box_links {
		grid-template-columns: repeat(5,30px);
		grid-gap: 30px;
	}

	iframe {
		width: 350px;
		height: 350px;
	}

	main,
	header {
		max-width: 350px;
	}
}