{{ if .IsHome }}
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Shadows+Into+Light" rel="stylesheet">
    <link rel="stylesheet" href="/lib/css/font-awesome.min.css" >
{{ else if .IsPage }}
    <link rel="stylesheet" type="text/css" href="/css/page.css">
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Raleway|Crimson+Text" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css">
{{ else }}
    <link rel="stylesheet" type="text/css" href="/css/blog.css">
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Raleway|Crimson+Text" rel="stylesheet">
{{ end }}