{{ partial "header.html" . }}

<body>

    <header>
        <img id="profile" src="/img/faceshot.jpg" alt="profile image">
        <h3 id="name">Joe Lim</h3>

        <nav class="box_links">
            <a class="links" href="https://github.com/xjlim">GitHub</a>
            <a class="links" href="https://ca.linkedin.com/in/limjoe">LinkedIn</a>
            <a class="links" href="https://codepen.io/xjlim">CodePen</a>
            {{ with .Site.GetPage "section" "blog" }}
                <a class="links" href="{{ .Permalink }}">Blog</a>
            {{ end }}
        </nav>
    </header>

    <main class="main">
        <p id="description">
        I like to keep up with latest tech news on <a id="twitter" href="https://twitter.com/joe_lim_">Twitter</a>, read
        <a id="books" href="https://gist.github.com/xjlim/3dbb23ec081c865b841c029b63e9b6bb">books</a> and watch <span id="twitch">Twitch</span>      streams. <br><br> I am currently playing with <span id="react">React</span>, following tutorials to create a <a id="tictactoe"
            href="https://build-idbohfwyrd.now.sh ">Tic Tac Toe</a> game and a <a id="hackernews" href="https://buildcopy-hjutcqnaov.now.sh">HackerNews</a>      app.
        </p>
    </main>

    {{ partial "footer.html" }}

</body>

</html>